<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodList App</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Antonio&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/FoodList-Icon-Black.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/FoodList-Icon-Black.png">
    <link rel="manifest" href="manifest.json">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <!-- Logo From Logo Maker
    https://spark.adobe.com/express-apps/logomaker/preview
    -->
</head>
<body>
    <a href="#maincontent" tabindex="1"class="skip-link">Menuju ke konten</a>
    <header class="header">
        <div class="header__inner">
            <img src="images/FoodList-Icon-Black.png" alt="FoodList-logos">
        </div>
        <nav id="drawer" class="nav">
            <ul class="nav__list">
                <li class="nav__item" >
                    <a tabindex="1" href="#/home">Home</a>
                </li>
                <li class="nav__item" >
                    <a tabindex="1" href="#/">Favorite</a>
                </li>
                <li class="nav__item" >
                    <a tabindex="1"href="https://github.com/almuhtadiaqil">About us</a>
                </li>
            </ul>
        </nav>
    </header>
    <button id="hamburger" aria-label="Menu" tabindex="1">☰</button>
    <main id="maincontent">

    </main>

    <footer>
        <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <p class="copyright">Copyright &copy; 2021 - FoodList Apps</p>
    </footer>
</body>
</html>